// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
    margin: 0 auto;
}

.dropdown-item:hover {
    background-color: rgb(105, 105, 105);
}

.nav-item.active {
    background-color: rgb(77, 85, 94);
}

.badge {
    float: right;
}
